<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faq_category_listing_data_source" xsi:type="string">
                    Prestafy\Faq\Model\ResourceModel\Category\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Prestafy\Faq\Model\ResourceModel\Category\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">prestafy_faq_category</argument>
            <argument name="resourceModel" xsi:type="string">Prestafy\Faq\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Prestafy\Faq\Ui\DataProvider\CategoryDataProvider"
                 type="Prestafy\Faq\Ui\DataProvider\GenericFormDataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Prestafy\Faq\Model\ResourceModel\Category\Collection</argument>
            <argument name="fieldset" xsi:type="string">general</argument>
        </arguments>
    </virtualType>
</config>